@media screen and (max-width: 1500px) {
  .container .bg .circle_wrap .xs {
    width: 4.8vw;
    height: 4.8vw;
  }
  .container .bg .circle_wrap .s {
    width: 7.2vw;
    height: 7.2vw;
  }
  .container .bg .circle_wrap .m {
    width: 12.6vw;
    height: 12.6vw;
  }
  .container .bg .circle_wrap .l {
    width: 21.6vw;
    height: 21.6vw;
  }
  .container .bg .circle_wrap .xl {
    width: 28.8vw;
    height: 28.8vw;
  }
  .container nav .logo {
    margin-left: 1.5%;
  }
  .container nav .nav-link_wrap {
    position: relative;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  footer .copyright {
    line-height: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .container .bg .circle_wrap .xs {
    width: 8.8vw;
    height: 8.8vw;
  }
  .container .bg .circle_wrap .s {
    width: 13.2vw;
    height: 13.2vw;
  }
  .container .bg .circle_wrap .m {
    width: 23.1vw;
    height: 23.1vw;
  }
  .container .bg .circle_wrap .l {
    width: 39.6vw;
    height: 39.6vw;
  }
  .container .bg .circle_wrap .xl {
    width: 52.8vw;
    height: 52.8vw;
  }
  .container .bg .circle_wrap .bg_left {
    display: none;
  }
  .container .bg .circle_wrap .bg_right .circle1 {
    left: -7%;
    top: 37%;
    background-image: url(../img/SVG/bg_circle.svg);
  }
  .container .bg .circle_wrap .bg_right .circle2 {
    right: 2%;
    top: 56%;
    background-color: rgba(255, 166, 185, 0.2);
  }
  .container .bg .circle_wrap .bg_right .circle3 {
    right: -25%;
    top: 2%;
    background-image: url(../img/SVG/bg_circle.svg);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .container .bg .circle_wrap .bg_right .circle4 {
    left: -2%;
    top: 77%;
    background-color: rgba(169, 222, 255, 0.2);
  }
  .container .bg .circle_wrap .bg_right .circle5 {
    right: -5%;
    top: 74%;
    background-image: url(../img/SVG/bg_circle.svg);
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .container .bg .circle_wrap .bg_right .circle6 {
    left: 5%;
    top: 20%;
    background-color: rgba(255, 166, 185, 0.2);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .container nav .ham {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 21px;
    right: 12px;
    width: 36px;
    height: 18px;
    z-index: 5;
  }
  .container nav .ham::before, .container nav .ham::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 20%/100%;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .container nav .ham::after {
    bottom: 0;
  }
  .container nav .ham-dark::before, .container nav .ham-dark::after {
    background-color: #3a3a3a;
  }
  .container nav .ham_open::before {
    -webkit-animation: ham-right linear .5s forwards;
            animation: ham-right linear .5s forwards;
  }
  .container nav .ham_open::after {
    bottom: 0;
    -webkit-animation: ham-left linear .5s forwards;
            animation: ham-left linear .5s forwards;
  }
  .container nav .ham_close::before {
    animation: ham_close-right linear .5s forwards reverse;
  }
  .container nav .ham_close::after {
    bottom: 0;
    animation: ham_close-left linear .5s forwards reverse;
  }
  @-webkit-keyframes ham-left {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: translateY(-120%) rotate(45deg);
              transform: translateY(-120%) rotate(45deg);
    }
  }
  @keyframes ham-left {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: translateY(-120%) rotate(45deg);
              transform: translateY(-120%) rotate(45deg);
    }
  }
  @-webkit-keyframes ham-right {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: translateY(120%) rotate(-45deg);
              transform: translateY(120%) rotate(-45deg);
    }
  }
  @keyframes ham-right {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: translateY(120%) rotate(-45deg);
              transform: translateY(120%) rotate(-45deg);
    }
  }
  @-webkit-keyframes ham_close-left {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: translateY(-120%) rotate(45deg);
              transform: translateY(-120%) rotate(45deg);
    }
  }
  @keyframes ham_close-left {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: translateY(-120%) rotate(45deg);
              transform: translateY(-120%) rotate(45deg);
    }
  }
  @-webkit-keyframes ham_close-right {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: translateY(120%) rotate(-45deg);
              transform: translateY(120%) rotate(-45deg);
    }
  }
  @keyframes ham_close-right {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: translateY(120%) rotate(-45deg);
              transform: translateY(120%) rotate(-45deg);
    }
  }
  .container nav .logo:active {
    background-size: 165px;
    -webkit-box-shadow: inset -5px 10px 5px rgba(0, 0, 0, 0.2);
            box-shadow: inset -5px 10px 5px rgba(0, 0, 0, 0.2);
  }
  .container nav .logo-hover:hover {
    background-size: 150px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .container nav .mode:hover {
    opacity: .5;
  }
  .container nav .mode:active {
    opacity: 1;
  }
  .container nav .nav-link_wrap {
    display: none;
    position: fixed !important;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 50%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: #ffc5d4;
    border-radius: 80% 0 0 80%/50% 0 0 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container nav .nav-link_wrap::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 10.5vw;
    height: 10.5vw;
    border-radius: 100%;
    background-color: #ffa6b9;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .container nav .nav-link_wrap .nav-link {
    cursor: pointer;
    width: inherit;
    margin: 20px auto;
    margin-right: 30px;
    font-size: 1em;
    border-radius: 40px/50%;
    outline: none;
  }
  .container nav .nav-cover {
    display: none;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/SVG/bg_circle.svg) center no-repeat;
    background-size: cover;
    background-color: rgba(58, 58, 58, 0.9);
  }
  footer .WB span {
    font-size: 1.5em;
  }
  footer .design:hover {
    opacity: .3;
  }
  footer .design:active {
    opacity: .6;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 20px;
  }
  .container .bg .circle_wrap .xs {
    width: 12vw;
    height: 12vw;
  }
  .container .bg .circle_wrap .s {
    width: 18vw;
    height: 18vw;
  }
  .container .bg .circle_wrap .m {
    width: 31.5vw;
    height: 31.5vw;
  }
  .container .bg .circle_wrap .l {
    width: 54vw;
    height: 54vw;
  }
  .container .bg .circle_wrap .xl {
    width: 72vw;
    height: 72vw;
  }
  .container .bg .circle_wrap .bg_right .circle1 {
    left: -18%;
    top: 47%;
    background-image: url(../img/SVG/bg_circle.svg);
  }
  .container .bg .circle_wrap .bg_right .circle2 {
    right: 75%;
    top: 15%;
    background-color: rgba(255, 166, 185, 0.2);
  }
  .container .bg .circle_wrap .bg_right .circle3 {
    right: -40%;
    top: -10%;
    background-image: url(../img/SVG/bg_circle.svg);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .container .bg .circle_wrap .bg_right .circle4 {
    left: -15%;
    top: 85%;
    background-color: rgba(169, 222, 255, 0.2);
  }
  .container .bg .circle_wrap .bg_right .circle5 {
    right: -16%;
    top: 74%;
    background-image: url(../img/SVG/bg_circle.svg);
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .container .bg .circle_wrap .bg_right .circle6 {
    right: 17%;
    top: 70%;
    background-color: rgba(255, 166, 185, 0.2);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .container nav {
    height: 60px;
  }
  .container nav .ham {
    top: 21px;
    right: 12px;
    width: 36px;
    height: 18px;
    z-index: 5;
  }
  .container nav .logo {
    margin-top: -20px;
    width: 100px;
    height: 100px;
    background-size: 75px;
  }
  .container nav .logo:hover {
    background-size: 75px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .container nav .logo:active {
    background-size: 82.5px;
    -webkit-box-shadow: inset -5px 10px 5px rgba(0, 0, 0, 0.2);
            box-shadow: inset -5px 10px 5px rgba(0, 0, 0, 0.2);
  }
  .container nav .mode {
    margin-top: 57px;
  }
  .container nav .mode:hover {
    opacity: .5;
  }
  .container nav .mode:active {
    opacity: 1;
  }
  .container nav .nav-link_wrap {
    top: 0;
    left: 100%;
    height: 100vh;
    width: 60%;
    background-color: #ffc5d4;
    border-radius: 90% 0 0 90%/50% 0 0 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container nav .nav-link_wrap::after {
    width: 12vw;
    height: 12vw;
  }
  .container nav .nav-link_wrap .nav-link {
    width: 50%;
    margin: 10px auto;
    margin-right: 20px;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 20px/50%;
    outline: none;
  }
  .container nav .nav-cover {
    display: none;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/SVG/bg_circle.svg) no-repeat;
    background-size: cover;
    background-position: 60% center;
    background-color: rgba(58, 58, 58, 0.9);
  }
  footer {
    height: 50px;
  }
  footer .WB span {
    height: 50px;
    line-height: 50px;
  }
  footer .WB .W {
    margin-right: 80vw;
  }
  footer .copyright {
    line-height: 20px;
  }
  footer .design {
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: .1;
  }
  footer .design:hover {
    opacity: .1;
  }
  footer .design:active {
    opacity: .3;
  }
}

@media screen and (max-width: 320px) {
  footer .WB span {
    font-size: 1.2em;
    line-height: 16.66667px;
  }
  footer .WB .W {
    margin-right: 210px;
  }
  footer .copyright {
    letter-spacing: -.5px;
  }
}
/*# sourceMappingURL=RWD.css.map */