@import 'variables';
.container{
    article{
        position: relative;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        #test,#about{
            font-size: 1em;
            color: $light-pink;
            text-align: center;
            line-height: 100vh;
            z-index: 0;
        }
    }
}